$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.block {
  width: 15px;
  height: 15px;
  display: inline-block;
  box-shadow: 0px 0px 2px black inset;
  border-radius: 2px;
}
