// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
// @import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.content {
  margin: 0 auto;
}

.tetris-wrapper {
  height: 100%;
  width: 100%;
}

.tetris-row {

}

.tetris-block {
  float: left;
  text-align: center;
  margin: 1px;
  background-color: white;

  &.full-block {
    background-color: #ddf;
  }

  &.selected-block {
    background-color: #fde;
  }
}
