$z-layers: (
  "default": 1,
  "game": 2,
  "overlay": 3
);

@function z($layer) {
  @return map-get($z-layers, $layer);
}

$c-bg: #0f8b8d;
$c-text: #143642;
$c-primary: #dad2d8;
$c-secondary: #ec9a29;
$c-tertiary: #a8201a;

$c-bg-hover: darken($c-bg, 10%);
$c-text-hover: darken($c-text, 10%);
$c-primary-hover: darken($c-primary, 10%);
$c-secondary-hover: darken($c-secondary, 10%);
$c-tertiary-hover: darken($c-tertiary, 10%);

button {
  border-radius: 5px;
  border: 0px;
  padding: 10px;
  background: $c-text;
  color: $c-primary;
  cursor: pointer;

  &:hover {
    background: $c-text-hover;
  }
}

.fa-btn {
  cursor: pointer;
  color: $c-text;

  &:hover {
    color: $c-text-hover;
  }
}

.wrapper {
  @import url('https://fonts.googleapis.com/css?family=Lobster');
  @import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: $c-text;
}

.overlay {
  z-index: z("overlay");
  position: absolute;
  height: 100%;
  width: 100%;
  background: $c-bg;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .overlay-animation {
    position: relative;
    width: 100%;
    font-size: 48px;
    font-family: 'Lobster', cursive;
    text-transform: uppercase;

    // Animating elements

    .overlay-boggle,
    .overlay-tetris {
      transition: left 3s, right 3s, opacity 2.5s;
      position: absolute;
      font-size: 48px;
      top: 0;
    }

    .overlay-boggle {
      right: 75%;
      opacity: 1;
    }

    .overlay-tetris {
      left: 75%;
      opacity: 1;
    }

    // Centered elements

    .overlay-plus,
    .overlay-tetroggle,
    .overlay-start {
      transition: opacity 2.5s;
      text-align: center;
      font-size: 72px;
      margin-top: -16px;
    }

    .overlay-plus {
      opacity: 1;
    }

    .overlay-tetroggle {
      opacity: 0;
      margin-top: -88px;
    }

    .overlay-start {
      opacity: 0;
    }
  }
}

.inner-wrapper {
  z-index: z("game");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Cabin Sketch';
  background-color: $c-bg;
  overflow-y: hidden;

  .left-sidebar,
  .right-sidebar {
    position: absolute;
    padding: 20px;
  }

  .left-sidebar {
    .current-score {
      font-size: 2em;
    }
  }

  .right-sidebar {
    top: 0;
    right: 0;

    .current-selection {
      color: $c-tertiary;
      font-size: 2em;
    }

    .past-words {
      text-align: right;
    }
  }

  .tetris-wrapper {
    margin: 0 auto;
    height: 100%;
    background: $c-text;
    border-left: 10px solid;
    border-right: 10px solid;

    .tetris-block {
      float: left;
      text-align: center;
      margin: 1px;

      &.full-block {
        background-color: $c-primary;
      }

      &.selected-block {
        background-color: $c-secondary;
      }
    }
  }
}
